nav ul{
  height: 93vh;
  overflow:hidden; 
  overflow-y:scroll;
  font-family: sans-serif;
  font-size: 19px;
  list-style-type: none;
}

nav ul li{
  border-bottom: 1px solid #f2f2f2;
  padding: 11pt;
  margin:  0pt;
}

.bubble-container{
  margin-top: 8px;
  margin-bottom: 8px;
  display:flex;
  font-family: sans-serif;
  font-size: 14px;
  align-items: center;
}

.bubble-direction-reverse {
  flex-direction: row-reverse;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    color: black;
    word-wrap: break-word;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    background-color: #ffffff;
    margin-left: 18px;
    margin-right:60px;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
    background-color: #ffffff;
}

.you {
    background-color: #e6ffcc;
    margin-left: 60px;
    margin-right:18px;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
    background-color: #e6ffcc;
}

.img-circle {
  border-radius: 42%;
  height:42px;
  width:42px;
}

.chats {
  position: relative;
  height: 100%;
  max-width: 1000px;
  background-image: url("../Images/background.jpg");
}

.chat-list {
  height: calc(100% - 3rem);
  overflow-y: scroll;
  padding: 1rem;
  padding-bottom: 0.5rem;
}

.new-message {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFF0;
  height: 3rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-message-input {
  width: 95%;
  height: 80%;
  font-size: 1rem;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 95vh;
}

.col-s8 {
  width: 70%;
  height: 100%;
  margin-left: auto;
  right: auto;
  left: 30%;
}

.col-s4 {
  width: 30%;
  margin-right: auto;
  left: auto;
  right: 70%;
  float: left;
}




